*{
    font-family: 'Sen', sans-serif;
}

.main-box {
    /* Rectangle 1 */
    position: relative;
    margin: auto;


    background: #FFFFFF;
    box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.25);
    border-radius: 42px;


    .social-media-wrap {
        width: 100%;
    }

    .icon-next {
        cursor: pointer;
        position: absolute;
        bottom: 40px;
        left: 48%;
    }

    

    .mini-nav {
        .mini-nav-link {
            cursor: pointer;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 300px) {
            font-size: 10px;
            padding: 0px 0px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 15px;
            padding: 0px 0px;
        }

        // LAPTOP
        @media only screen and (min-width: 992px) {
            font-size: 20px;
            padding: 0px 150px;

        }
    }


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 300px) {
        padding: 0px 50px 100px 50px;
        width: 300px;
        min-height: 400px;
        &.socmed{
            padding-bottom: 0px;
            svg{
                margin: 0px 8px;
            }
        }

        
        &.project{
            height: 528px;
        }
        &.main{
            height: 511px;
        }
        .text-title-2 {
            font-size: 15px;
            font-weight: 500;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        padding: 0px 50px 100px 50px;
        width: 700px;
        min-height: 400px;
        &.experience{
            height: 835px;
        }

        &.main{
            height: 440px;
        }
    }

    // LAPTOP
    @media only screen and (min-width: 900px) {
        width: 1000px;
        min-height: 550px;
        max-height: 550px;
        .text-title-2 {
            font-size: 25px;
            font-weight: 500;
        }
    }
}

.main-content {
    padding-top: 70px;
    margin-bottom: 60px;

    p {
        margin: 0;
        padding: 0;
    }


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 300px) {
        .avatar {
            max-width: 130px;
        }

        .text-1 {
            font-weight: 500;
            font-size: 20px;
        }

        .text-2 {
            font-weight: 800;
            font-size: 20px;
        }

        .text-3 {
            font-weight: 500;
            font-size: 10px;
        }

        .text-title {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 40px;
        }

        .text-title-2{
            font-size: 15px;
        }

        .download{
            font-size: 10px;
        }

        .text-content{
            font-size: 10px;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {}

    // LAPTOP
    @media only screen and (min-width: 900px) {
        .avatar {
            max-width: 220px;
        }
        .text-1 {
            font-weight: 500;
            font-size: 40px;
        }

        .text-2 {
            font-weight: 800;
            font-size: 40px;
        }

        .text-3 {
            font-weight: 500;
            font-size: 20px;
        }

        .text-title {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 40px;
        }

        .text-content{
            font-size: 20px;
        }
    }

}

a{
    cursor: pointer !important;
    text-decoration: none !important;
    color: black !important;
}

.navbar-brand, .nav-link{
    font-weight: 600 !important;
}
.navbar-collapse {
    flex-grow: 0 !important;
}

.margin-custom-1 {
    margin-top: 110px;
    margin-bottom: 110px;
}

.image-github {
    img {
        width: 150px;
    }
}


.social-media {
    font-size: 40px;
}

// animation
.hello {
    animation-delay: 0s !important;
}

.avatar {
    animation-delay: 0.5s !important;
}

.im {
    animation-delay: 0.5s !important;
}

.typewriter-animation,
.github-btn {
    animation-delay: 1s !important;
}

.mini-nav {
    animation-delay: 2s !important;
}

.download {
    animation-delay: 1.25s !important;
}

.text-title {
    animation-duration: 2.5s !important;
}

.about-content,
.card-exp,
.image-github {
    animation-delay: 0.5s !important;
}

.icon-skill{
    font-size: 40px;
    .react{
        color: skyblue;
        
    }
    .vue{
        color: rgb(34, 197, 94);
        animation-delay: 0.25s !important;
    }
    .html{
        color: rgb(249, 115, 22);
        animation-delay: 0.5s !important;
    }
    .css{
        color: rgb(59, 130, 246);
        animation-delay: 0.75s !important;
    }
    .laravel{
        color: #F05340;
        animation-delay: 1s !important;
    }
    .javascript{
        color: rgb(250, 204, 21);
        animation-delay: 1.25s !important;
    }
    .bootstrap{
        color: rgb(168, 85, 247);
        animation-delay: 1.5s !important;
    }
}